<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
   <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            $('.carousel').carousel()
        });
   </script>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class ="container">
    <div class ="page_content">
		  <%= yield %>
    </div>
    <%= render 'layouts/footer' %>


</body>
</html>
